.question-line
    .row
        .col-md-5
            input.form-control.question-input(type="text")
        .col-md-5
            input.form-control.answer-input(type="text")
        .col-md-1
            button.btn.btn-danger.remove-question(type="button") -
